<div>
    <img src="{{flags}}" alt="{{name}}" width="100" height="50">

        <h1 class="info-title">
            name: {{name}}
        </h1>

        <p class="info-text">
            capital: {{capital}}
        </p>

        <p class="info-text">
            population: {{population}}
        </p>

        <p class="info-text">
            languages: {{languages}}
        </p> 
</div>
